@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

html {
  height: 100%;
}

body {
  margin: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url("Assets/Drawing (7).png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Franklin Gothic";
  font-weight: 400;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

main img {
  transform: scale(1.25);
}

.links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: color ease 250ms;
}

.links a::before {
  content: '';
  display: block;
  margin-top: 20px;
  height: 3px;
  width: 0%;
  background-color: #ffffff;
  position: absolute;
  transition: all ease-in-out 250ms;
}

.links a:hover {
  color: #ffffff;
}

.links a:hover::before {
  width: 100%;
  background-color: #ffffff;
}
